<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Full Layout - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="../../themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../../themes/icon.css">
	<link rel="stylesheet" type="text/css" href="../demo.css">
	<script type="text/javascript" src="../../jquery.min.js"></script>
	<script type="text/javascript" src="../../jquery.easyui.min.js"></script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north',border:false" style="height:60px;background:#B0E2FF;padding:10px">
	<h2 style="color:#1E90FF">
	 LIFE-TECH industry&trading co.,ltd. Ningbo luxtech import&export co.,ltd.
	</h2>
	</div>
	<div data-options="region:'west',split:true,title:'Menu'" style="width:150px;padding:10px;">
		loading
	</div>
	<div data-options="region:'south',border:false" style="height:50px;background:#eee;padding:10px;">
	CopyRight © 2016 - 2017 LIFE-TECH industry&trading co.,ltd. Ningbo luxtech import&export co.,ltd. All rights Reserved 
	</div>
	<div data-options="region:'center',title:'Center'">
	</div>
</body>
</html>